<!DOCTYPE html>
<html>
    <head>

    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    {% endblock %}

    {% block javascripts %}
        {# Coaster game self-contained, no app.js needed #}
    {% endblock %}

    </head>

    <body>
        {% block body %}{% endblock %}

        {% block cookie_consent %}{% endblock %}
    </body>

</html>